@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



@keyframes bg-pan-left {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: -100% 0;
  }
}


nav {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  font-family: 'Roboto', sans-serif;
  animation: bg-pan-left 8s infinite both;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: var(--cornflower-blue);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

nav li a:hover {
  animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.brand-logo {
  float: left;
  color: var(--burntsienna);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em; 
  font-weight: bold;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}


#eh a {
  font-weight: bold;
  color: #222;
  font-size: 1.5em;
  font-family: serif;
  transition: transform 0.3s; 
  cursor: pointer; 
}

#eh a:hover {
  animation: bounce-in-top 1.1s 1s both;
}

#eh a:active {
  transform: scale(0.95) translateZ(15px); 
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}

.dark-mode-toggle {
  float: right;
  margin-right: 10px;
}